.list-wrapper {
  display: flex;
  gap: 10px;
  margin: 10px 0 10px -10px;
}

.product-card {
      display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 10px 0;
    width: 215px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}
.info-title{
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.product-image {
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-left: 10px;
  gap: 10px;

  width: 100%;
}

/* Text styles */
.product-info p {
  margin: 0;
  font-size: 14px;
  color: #222;
}

.star{
    color: gold;
}

.btn {
  background: #2864a4;
  border: none;
  border-radius: 4px;
  font-size: 20px;

  padding: 12px;
  cursor: pointer;
color: silver;}
