.title {
  display: flex;
  justify-content: space-between;
}
.product-cont{
      width: 80%;
    margin-left: 50px;
}

.main {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  margin-left: -51px;
}
.product-column {
  display: flex;
  flex-direction: column;
padding:  10px;
}
