.searchbar-section {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-box {
  width: 100%;
  padding: 20px;
}
.search-container{
  display: flex;
  align-items: center;
  background-color: azure;
  height: 35px;
  border-radius: 5px;
}
input {
  border: none;
  padding: 8px;
  border-radius: 5px;
  width: 93%;
  background: none;
}
#line{
  padding-right: 20px;
  font-size: 20px;
}
.user {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
