@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-family: 'Poppins', sans-serif;
}




.main-cont {
  display: flex;
}

.sidebar {
  width: 10%;
  background: #fff;
  padding-left: 20px;
}

.main {
  display: flex;
  background: #f5f5f5;
}

.filter {
  width: 200px;
  position: sticky;
  top: 0;
  height: 100%;
  background: #fff;
  padding: 12px 16px;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;
}

.products {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  background: #f5f5f5;
}
