/* RESET SCROLL */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


.main-cont {
  flex: 1;
  display: flex;
  height: calc(100vh - 60px); /* adjust if SearchBar height differs */
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #f8f8f8;
  overflow: hidden;
}

/* MAIN AREA */
.main {
  /* flex: 1; */
  display: flex;
  /* flex-direction: column; */
  height: 100%;
}

/* FILTER (NOT SCROLLABLE) */
.filter-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e5e5;
}

/* PRODUCTS (ONLY SCROLLABLE PART) */
.products {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}
