.color-filter {
  display: flex;
  /* gap: 65px; */
  flex-direction: column;
  padding: 10px 0;
}

.row{
    display: flex;
    gap: 12px;
    padding: 15px;
}

.color-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, border 0.2s;
}

.color-circle.yellow {
  background-color: yellow;
}
.color-circle.red {
  background-color: red;
}
.color-circle.blue {
  background-color: blue;
}
.color-circle.cyan {
  background-color: cyan;
}
.color-circle.orange {
  background-color: orange;
}
.color-circle.pink {
  background-color: pink;
}
.color-circle.green {
  background-color: green;
}
.color-circle.black {
  background-color: black;
}
