.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter{
      background: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    height: 100vh;
    font-size: 10px;
}

#clear-btn {
  height: 25px;
  border-radius: 5px;
  padding: 5px 5px ;
  border: 1px solid rgb(107, 107, 234);
  color:rgb(107, 107, 234) ;
  background: none;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
  margin: 10px 0;
  width: 10rem;
}
