.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-btn {
  height: 25px;
  border-radius: 5px;
  padding: 5px 5px ;
  border: 1px solid blue;
  background: none;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
  margin: 20px 0;
  width: 15rem;
}
