.header {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}

#clear-btn {
  height: 25px;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
  margin: 20px 0;
  width: 15rem;
}
