.range{
    max-width: 150px;
}
.price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.range-label {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 6px;
}
